* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(64, 106, 221);                                    /* Se cambia el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cronometro {
    width: 100%;
    max-width: 400px; /* Limitar el tamaño máximo para pantallas grandes */
    height: auto;
    padding: 20px;
    background-color: white;
    border: 3px solid rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tablero {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tablero p {
    color: white;
    font-size: 3em; /* Cambiado a em para mayor control */
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    max-width: 100%;
}

.botones {
    width: 100%;
    height: auto;
    background-color: rgb(220, 127, 20);
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.botones button {
    background-color: white;
    padding: 10px;
    border: 3px solid rgba(0, 0, 0, 0.9);
    color: black;
    font-weight: bold;
    font-size: 1em; /* Reducido el tamaño de los botones */
    flex: 1;
    margin: 0 5px;
    max-width: 100px;
    max-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.botones button:hover {
    background-color: white;
    color: red;
}


@media (max-width: 600px) {                                                     /* Se añaden para mejorar la apariencia en pantallas pequeñas */
    .cronometro {
        width: 100%;
        height: auto;
    }

    .botones {
        flex-direction: column;
        padding: 5px;
    }

    .botones button {
        margin: 10px 0;
        max-width: 80%;
        font-size: 1.5em; /* Ajustado el tamaño de los botones en móviles */
    }

    .tablero p {
        font-size: 4em; /* Ajustado el tamaño de los números en móviles */
    }
}